/* _content/Component.Ministry.Business/Component1.razor.rz.scp.css */
.my-component[b-th3jtfn0r2] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
